

body{
    background-color: black;
    color:#ff5a1f;
    margin: 0;
    border: 4px solid #ff5a1f;
   
}

.container{
    display:flex;
    height: 100vh;


/* LEFT MENU */
.menu{
    width:30%;
    border-right:2px solid #ff5a1f;
    padding:1%;
}


.menu h2{
    border-bottom:2px solid #ff5a1f;
    padding-bottom:10px;
}


.menu button{
    width:100%;
    background:black;
    border:1px solid #ff5a1f;
    color:#ff5a1f;
    padding:12px;
    margin-top:10px;
    cursor:pointer;
}


.menu button:hover{
    background:#ff5a1f;
    color:black;
}


/* RIGHT SIDE */
.main{
    width:70%;
    padding:1%;
   
}

.map{
    border:2px solid #ff5a1f;
    height:100%;
    width: 100%;
    
}


.map img{
    width:100%;
    height:100%;
    object-fit:cover;
}


.preview{
    border:2px solid #ff5a1f;
    height:30%;
    margin-top: 88px;
}


.preview img{
     width:100%;
    height:100%;
    object-fit:cover;
}
